.menu {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;

    .item {
        margin: 0 25px;
        
        button {
            color: #000 !important;
        }

        img {
            max-height: 70px;
        }
    }
}
