<form class="login-form" [formGroup]="loginForm">
    <mat-form-field class="login-full-width">
      <input type="email" matInput placeholder="Email" formControlName="login">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  
    <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
      <div *ngIf="f.login.errors.required">Email requis</div>
      <div *ngIf="f.login.errors.email">Email non valide (exemple@mail.fr)</div>
    </div>
  
    <mat-form-field class="login-full-width">
      <input type="password" matInput placeholder="Mot de passe" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Mot de passe requis</div>
      <div *ngIf="f.password.errors.minlength">Votre mot de passe doit faire minimum 6 caractères</div>
    </div>
  
    <button type="button" (click)="login()" mat-button mat-stroked-button color="primary">Connexion</button>
  </form>