#contact {
    padding: 50px 0;
    
    article {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        #contact-form {
            display: flex;
            flex-direction: column;
            margin: 25px 0;
            padding: 10px;

            .send-ok {
                margin-top: 10px;
                text-align: center;
                color: green;
            }

            .send-not-ok {
                margin-top: 10px;
                text-align: center;
                color: red;
            }
        }

        .full-width {
            width: 100%;
        }
    }

}