<section id="contact">
  <article>
    <h3>Contactez nous</h3>

      <form id="contact-form">
  
        <mat-form-field class="full-width">
          <textarea matInput rows="5" placeholder="Votre message"></textarea>
        </mat-form-field>
  
        <mat-form-field class="login-full-width">
          <input type="text" matInput placeholder="Votre nom">
        </mat-form-field>
  
        <mat-form-field class="login-full-width">
          <input type="email" matInput placeholder="Votre email">
        </mat-form-field>
  
        <button type="submit" mat-stroked-button color="primary">Envoyer</button>
      </form>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1698.1737994121875!2d1.8851310432055954!3d42.9885060085606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12afa63eb10a3e0f%3A0x49ed4b44fc5f6bcb!2s1+Rue+Principale%2C+09600+R%C3%A9gat!5e0!3m2!1sfr!2sfr!4v1540908781308"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </article>
</section>