<mat-dialog-content>
  <form class="login-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="login-full-width">
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email requis</div>
      <div *ngIf="f.email.errors.email">Email non valide (exemple@mail.fr)</div>
    </div>

    <mat-form-field class="login-full-width">
      <input type="password" matInput placeholder="Mot de passe" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Mot de passe requis</div>
      <div *ngIf="f.password.errors.minlength">Votre mot de passe doit faire minimum 6 caractères</div>
    </div>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Nom" formControlName="lastName">
    </mat-form-field>
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Nom requis</div>
      <div *ngIf="f.fisrlastNametName.errors.minlength">Votre nom doit faire minimum 2 caractères</div>
    </div>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Prénom" formControlName="firstName">
    </mat-form-field>
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">Prénom requis</div>
      <div *ngIf="f.firstName.errors.minlength">Votre prénom doit faire minimum 2 caractères</div>
    </div>


    <mat-form-field class="login-full-width">
      <mat-select placeholder="Mr / Mme" formControlName="civility">
        <mat-option *ngFor="let civility of civilities" [value]="civility">
          {{civility}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="submitted && f.civility.errors" class="invalid-feedback">
      <div *ngIf="f.civility.errors.required">Civility requis</div>
      <div *ngIf="f.civility.errors.minlength">Votre prénom doit faire minimum 2 caractères</div>
    </div>


    <mat-form-field class="login-full-width">
      <input matInput placeholder="Entreprise" formControlName="company">
    </mat-form-field>

    <button type="submit" mat-stroked-button color="primary" [disabled]="!registerForm.valid">Valider</button>
  </form>
</mat-dialog-content>