  tr.mat-footer-row {
    font-weight: bold;
  }

  td, th {
    width: 25%;
    text-align: center;
  }

  img {
    max-height: 100px;
}

th.mat-header-cell {
    text-align: center;
}

mat-select {
    width: 50px;
}

table {
    min-width: 80%;
    margin: 20px auto;
}