  tr.mat-footer-row {
    font-weight: bold;
  }

  td, th {
    width: 25%;
    text-align: center;
  }


th.mat-header-cell {
    text-align: center;
}

mat-select {
    max-width: 100px;
}

table {
    margin: 20px auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    outline: none;

    img {
        max-height: 100px;
        max-width: 100px;
    }
}