<section>
  <div>
    <div id="resume">
      <ul id="header">
        <li>
          Produit
          <ul class="item">
            <li>
              <img src="/assets/img/home/promo/promo_folies_grillades.jpg" alt="">
            </li>
            <li>test</li>
            <li>test</li>
          </ul>
        </li>
        <li>Description
          <ul class="item">
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
          </ul>
        </li>
        <li>Disponibilité</li>
        <li>Prix unitaire</li>
        <li>Quantité</li>
        <li>Total</li>
      </ul>
    </div>
  </div>
</section>