#menu-categories {
    background-color: #f78b20;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
        color: #000 !important;

        &:hover {
            background-color: #fff;
            color: #000 !important;

        }
    }
}

.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }


.node {
    color: #000 !important;
}


.menu {
    display: flex;
}