<div id="menu-categories" class="menu" [class.sticky] = "sticky" #stickyMenu>
  <button mat-button [matMenuTriggerFor]="the" #theT="matMenuTrigger" [style.backgroundColor]="theT.menuOpen ? '#fff' : '#f78b20'">{{
    categories[0].content.title.fr | uppercase }}</button>

  <mat-menu #the="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let subMenu of categories[0].nodes" [routerLink]="[subMenu.route, subMenu.slug]">{{
      subMenu.content.title[0].fr | uppercase }}</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="infusions" #infusionsT="matMenuTrigger" [style.backgroundColor]="infusionsT.menuOpen ? '#fff' : '#f78b20'">{{
    categories[1].content.title.fr | uppercase }}</button>

  <mat-menu #infusions="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let subMenu of categories[1].nodes" [routerLink]="[subMenu.route, subMenu.slug]">{{ subMenu.content.title[0].fr | uppercase }}</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="accessoires" #accessoiresT="matMenuTrigger" [style.backgroundColor]="accessoiresT.menuOpen ? '#fff' : '#f78b20'">{{
    categories[2].content.title.fr | uppercase }}</button>

  <mat-menu #accessoires="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let subMenu of categories[2].nodes" [routerLink]="[subMenu.route, subMenu.slug]">{{ subMenu.content.title[0].fr | uppercase }}</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="epicerie" #epicerieT="matMenuTrigger" [style.backgroundColor]="epicerieT.menuOpen ? '#fff' : '#f78b20'">{{
    categories[3].content.title.fr | uppercase }}</button>

  <mat-menu #epicerie="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let subMenu of categories[3].nodes" [routerLink]="[subMenu.route, subMenu.slug]">{{ subMenu.content.title[0].fr | uppercase }}</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="cafes" #cafesT="matMenuTrigger" [style.backgroundColor]="cafesT.menuOpen ? '#fff' : '#f78b20'">{{
    categories[4].content.title.fr | uppercase }}</button>

  <mat-menu #cafes="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let subMenu of categories[4].nodes" [routerLink]="[subMenu.route, subMenu.slug]">{{ subMenu.content.title[0].fr | uppercase }}</button>
  </mat-menu>
</div>