<mat-card *ngIf="!inEditMode">
  <mat-card-content>
    <mat-card-title>Bienvenue {{ user.civility}} {{ user.name}}</mat-card-title>
    <mat-card-content>
      <p>
        Depuis cet espace, vous pouvez accéder à vos récentes activités et mettre à jour vos informations.
      </p>
    </mat-card-content>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-content id="my-informations">
    <mat-card-title>Mes informations</mat-card-title>
    <div class="content">
      <mat-card-content>
        <p>{{ user.civility}} {{ user.name}}</p>
        <p>{{ user.email }}</p>

        <mat-accordion  *ngIf="false">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Modifier votre mot de passe
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="passwordForm">
              <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe acutel" formControlName="currentPassword">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="password" placeholder="Nouveau mot de passe" formControlName="newPassword">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="password" placeholder="Confirmez le mot de passe" formControlName="newPasswordConfirm">
              </mat-form-field>

              <button type="submit" mat-stroked-button color="primary" (click)="test()" [disabled]="!passwordForm.valid">Valider</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions *ngIf="false">
        <button mat-button mat-stroked-button color="primary" (click)="editProfile()">
          Modifier mes informations
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-content *ngIf="false">
    <mat-card-title>Mes adresses</mat-card-title>
    <div class="content">
      <mat-card-content id="adress-card-content">
        <div class="adress">
          <p class="bold">Adresse de facturation</p>
          <p>Adresse</p>
        </div>
        <div class="adress">
          <p class="bold">Adresse de livraison</p>
          <p>Adresse</p>
        </div>
      </mat-card-content>
      <mat-card-actions id="edit-adress">
        <button mat-button mat-stroked-button color="primary">
          Modifier mes adresses
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions id="logout-button">
    <button mat-button mat-stroked-button color="primary" (click)="logOut()">
      Se déconnecter
    </button>
  </mat-card-actions>
</mat-card>



<div *ngIf="inEditMode">
  <p style="color: red; font-size: 2em; padding-left: 50px">En cours ... </p>

  <button mat-button (click)="editProfile()">Valider</button>
</div>