<section class="container">
  <article class="wrapper">
    <div id="who" class="item">
      <img [src]="logo_blanc_soeurs_theieres" alt="logo blanc soeurs theieres">
      <div class="title">
        <h2>Les soeurs théière,</h2>
        <p>Qui sommes-nous ?</p>
      </div>

    </div>

    <div id="presentation" class="item">
      <p>
        Nous sommes Noémie et Natacha, les deux soeurs théière.
        <br/>
        En quête de nouvelles aventures, nous avons décidé, par passion, de nous lancer dans le monde du thé.
        
        L’idée s’est faite en famille, autour d’une bonne tasse de thé. Épanouissement, passion et plaisir sont les maîtres mots de ce concept mais surtout les besoins et envies qui nous ont fait sauter le pas.
        <br/>
        Nous avons créé l’entreprise en Août 2018. C’est une société familiale, jeune et dynamique mais surtout, elle est devenue pour nous une évidence.
        
        Notre but est de proposer des produits originaux et authentiques. Nous sélectionnons nos produits de façon à ne vous proposer que le meilleur et ainsi allier saveur, plaisir et gourmandise.
        
        Les ingrédients sont choisis pour leur goût, leur fraîcheur et leur qualité.
        <br/>
        Nous souhaitons également privilégier les circuits courts ; c’est pourquoi nous travaillons en collaboration avec des producteurs locaux de la région Ariègeoise.
        
        Nous sélectionnons également pour vous, des produits d’épicerie pour accompagner nos breuvages gourmands ainsi que des accessoires et une gamme spéciale, dédiée au café.
        <br/>
        Nous travaillons chaque jour avec cœur afin d’enchanter vos papilles et rendre vos journées encore plus agréables.      
      </p>
    </div>
  </article>
</section>

<section id="section-promo" class="container">
  <article id="promo">
    <div class="item" *ngFor="let img of promo">
      <img [src]="img.url" alt="">
      <p>{{ img.title }}</p>
    </div>
  </article>
</section>


<section id="section-info" class="container">
  <div id="info">
    <article class="bc-orange txt-white">
      <div class="content">
        <h3 class="txt-uppercase">PARTEZ à la découverte <span>de nouvelles saveurs</span></h3>
        <p>
          Laissez vous surprendre par nos box.
          Nous vous invitons à partir à la découverte de nouvelles saveurs.

          Des saveurs uniques et surprenantes vous y attendent.
          Fumets, qualité, odeurs … nous confectionnons, pour vous, des coffrets généreux pour enchanter  vos papilles et enrichir tous vos sens.

          Nos premières box seront très bientôt disponibles.
        </p>
      </div>

      <button mat-raised-button *ngIf="!applicationService.onDevelopment">Découvrir notre box</button>
    </article>

    <article>
      <div class="content">
        <h3>Notre produit du mois en <span class="txt-orange txt-lowercase">édition limitée</span></h3>
        <img [src]="soleilImg" alt="">
      </div>

      <button mat-raised-button *ngIf="!applicationService.onDevelopment">En savoir plus</button>
    </article>

    <article  id="order-4">
      <div class="content">
        <h3>VOUS ALLEZ ADORER ...</h3>
        <img [src]="vertImg" alt="">
      </div>

      <button mat-raised-button *ngIf="!applicationService.onDevelopment">En savoir plus</button>
    </article>

    <article class="bc">
        <div class="content">
          <h3 class="txt-uppercase">Réunion dégustation à domicile</h3>
          <p>
            Les Sœurs Théière vous proposent des moments de convivialité autour d’un bon thé. Une découverte de mets gourmands et breuvages magiques qui s’installe chez vous. Nous venons à vous et nous vous proposons des réunions dégustation, des miels et confitures de producteurs locaux… Et bien sûr du thé et des infusions. 
            Des astuces et des conseils pour satisfaire au mieux vos papilles. 
            N’hésitez pas à nous contacter.            
            </p>
        </div>
  
        <button mat-raised-button *ngIf="!applicationService.onDevelopment">En savoir plus</button>
      </article>
  </div>
</section>