<div class="container">
  <mat-card>
    <div class="image" *ngIf="product.images[0].url">
      <img mat-card-image [src]="product.images[0].url" alt="product.images[0].alt">
    </div>
    <div class="content">
      <div>
        <mat-card-header>
          <mat-card-title>
            {{ product.title }}
          </mat-card-title>

          <mat-card-subtitle>
            <p>{{ product.abstract }}</p>
          </mat-card-subtitle>
        </mat-card-header>
      </div>

      <div id="quantity">
        <div id="quantity-btn-grp">
          <div><button mat-stroked-button (click)="removeQuantityOrder()">
              <p>-</p>
            </button></div>
          <div class="number">
            <p>{{ quantity }}</p>
          </div>
          <div><button mat-stroked-button (click)="addQuantityOrder()">
              <p>+</p>
            </button></div>
        </div>

        <div id="prix">
          <p>{{ quantitySelected.ttc * quantity }}€</p>
        </div>
      </div>
      
      <div *ngIf="product.pricing.length > 1" class="quantity-select">
        <mat-select placeholder="{{ product.getMinimalPricing().quantity }} | {{ product.getMinimalPricing().ttc }}€"
          [(value)]="quantitySelected">
          <mat-option *ngFor="let pricing of product.pricing" [value]="pricing">
            {{ pricing.quantity }} | {{ pricing.ttc }}€
          </mat-option>
        </mat-select>
      </div>


      <div id="desc">
        <p>{{ product.description }}</p>
      </div>
      <div id="stock-ref-button">
        <div id="stock-ref">
          <div id="ref">
            <p>{{ product.reference }}</p>
          </div>
          <div *ngIf="product.pricing[0].stock" class="stock" id="done">
            <p>En stock</p>
            <mat-icon>done</mat-icon>
          </div>
          <div *ngIf="!product.pricing[0].stock" class="stock" id="clear">
            <p>Pas disponible</p>
            <mat-icon>clear</mat-icon>
          </div>
        </div>
        <div id="div-button">
          <mat-card-actions>
            <button id="button" color="primary" mat-raised-button (click)="addToBasket(product)">
              AJOUTER AU PANIER
              <mat-icon *ngIf="addedInBasket">done</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>