<div class="container">
  <mat-card *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>
        {{ product.content.libelle.fr }}
        <span class="right">
          {{ product.content.pricing[0].ttc }} €
        </span>
      </mat-card-title>

      <mat-card-subtitle>
        <div *ngIf="product.content.origin">
          Origine: {{ product.content.origin.fr }}
        </div>

        Reference: {{ product.content.reference }}
      </mat-card-subtitle>
    </mat-card-header>

    <p>
      
    </p>
    <img mat-card-image src="assets/img/home/promo/promo_folies_grillades.jpg" alt="PROMOTIONS">
    <mat-card-content>
      <p>
        {{ product.content.description.fr }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addToBasket(product)">AJOUTER AU PANIER</button>
      <button mat-button (click)="getBasket()">EN SAVOIR PLUS</button>
    </mat-card-actions>
  </mat-card>
</div>