<div class="container">
  <mat-card *ngFor="let product of products">
    <mat-card-header [routerLink]="['/product', product.slug]">
      <mat-card-title>
        <div class="title">
          {{ product.title }}
        </div>
        <span class="right">
          {{ product.pricing.ttc }} €
        </span>
      </mat-card-title>

      <mat-card-subtitle>
        <div *ngIf="product?.origin">
          Origine: {{ product?.origin }}
        </div>

        <div class="ref">
          Reference: {{ product.reference }}
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  [src]="product.image.url" [alt]="product.image.alt" [routerLink]="['/product', product.slug]">

    <mat-card-content [routerLink]="['/product', product.slug]">
      <div class="description">
        {{ product.description }}
      </div>
    </mat-card-content>

    
    <mat-card-actions>
        <mat-divider></mat-divider>
      <button mat-button (click)="addToBasket(product)">AJOUTER AU PANIER</button>
    </mat-card-actions>
  </mat-card>
</div>