.menu {
    justify-content: space-between;
    height: 100px;
  
    .item {
  
        button {
            color: #000 !important;
        }
  
        img {
            max-height: 80px;
        }
    }
  }


.logo-item-tablet {
    margin: auto;
}