<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-main-toolbar [snav]="snav" [mainMenu]="mainMenu" [mainMenuLoggin]="mainMenuLoggin" [tabletQuery]="tabletQuery" [logo]="logo"></app-main-toolbar>

  <app-submenu-toolbar [snav]="snav" [tabletQuery]="tabletQuery" [categoriesMenu]="categoriesMenu"></app-submenu-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="100">
      
      <app-main-sidenav [snav]="snav" [mainMenu]="mainMenu" [mainMenuLoggin]="mainMenuLoggin" [tabletQuery]="tabletQuery"></app-main-sidenav>

      <mat-divider></mat-divider>

      <app-submenu-sidenav [snav]="snav" [tabletQuery]="tabletQuery" [subMenu]="categoriesMenu"></app-submenu-sidenav>

    </mat-sidenav>


    <mat-sidenav-content>
      <div class="fix-toolbar">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div id="footer">
  <div>
    <!--<p>CGU</p>
    <p>CGV</p>
    <p>Mentions légales</p>-->
  </div>
  <div class="dev-by">
    <!--<p>Site développer par <a href="http://appinmove.com/">AppInMove</a></p>-->
  </div>
  <div class="text-right">
    <p><a href=""  [routerLink]="['/Contact']">Contact</a></p>
    <p><a href="https://www.facebook.com/LesSoeursTheiere/" target=_blank> Rejoignez nous sur Facebook</a></p>
    <img src="../../../assets/img/logo_facebook.png" alt="logo facebook">
  </div>
</div>


<!--
  <nav>
    <app-menu-main [menu]="mainMenu" [menuLoggin]="mainMenuLoggin"></app-menu-main>
    <app-menu-categories [menu]="categoriesMenu"></app-menu-categories>
  </nav>
  
  <router-outlet></router-outlet>
-->